/* src/components/ModalProjet.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal, .image-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  width: 100%;
  position: relative;
  overflow-y: auto;
  max-height: 90vh;
  margin: 20px;
}

.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black; /* Make the close button black by default */
}

.close-button:hover {
  color: red;
}

.close-button-white {
  color: black !important; /* Make the close button white for better contrast on dark backgrounds */
}

.close-button-white:hover {
  color: red;
}

.github-link {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  color: #0366d6;
  text-decoration: none;
}

.github-link:hover {
  text-decoration: underline;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.project-image {
  width: calc(33.333% - 10px);
  cursor: pointer;
}

.modal-image {
  max-width: 90%;
  max-height: 80vh;
  height: auto;
  display: block;
  margin: 0 auto;
}

.modal-technologies {
  margin-top: 20px;
}

.technologies-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.technology-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technology-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 5px;
}
.modal-skills {
  margin-top: 20px;
}

.skills-list {
  list-style-type: disc;
  padding-left: 20px;
}

.skill-item {
  margin-bottom: 5px;
}


/* Styles responsives */
@media (max-width: 768px) {
  .modal, .image-modal {
    padding: 20px;
    max-width: 100%;
  }

  .modal p {
    font-size: 12px;
  }

  .modal h2 {
    font-size: 18px;
  }

  .project-images {
    gap: 5px;
  }

  .project-image {
    width: calc(50% - 5px);
  }

  .technology-logo {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .modal, .image-modal {
    padding: 10px;
  }

  .project-image {
    width: 100%;
  }

  .technology-logo {
    width: 30px;
    height: 30px;
  }
}
